 <h1> ANDREW JOSEPH JOHNSON </h1>
 <img src="http://i.imgur.com/2DbN2CY.jpg" />
<h2>I am a System Administrator / Developer at EMC, specializing in the AEM platform</h2>
<p>
  I know how to code, but if work's paying for school I might as well get another degree
</p>

<a href="erb :read_more" />