<div class="profile">
  <h1> ANDREW JOSEPH JOHNSON </h1>
  <img src="canyonlands.jpg" style="margin-left: 10px"/>
  <h2>I am a System Administrator / Developer at EMC, specializing in the AEM platform</h2>
  <p>
    I know how to code, but if work's paying for school I might as well get another degree
  </p>
  <a href="/read_more">Read More</a>
</div>